@import "bootstrap";

body {
  margin-top: 75px;
}

.card {
  margin: 10px;
}

.form-group {
  position: absolute;
  right:    0;
  bottom:   0;
}

.form-control {
  margin-bottom: 10px;
}

.card-body {
  margin-bottom: 60px;
}
