/*
*= require_tree .
*= require_self
*/

@import "bootstrap";

body {
  margin-top: 75px;
}

// .card {
//   margin: 10px;
// }

// .products_cards {
//   position: absolute;
//   right:    0;
//   bottom:   0;
// }

.form-control {
  margin-bottom: 10px;
}

// .card-body {
//   margin-bottom: 80px;
// }

.btn {
  margin-bottom: 5px;
}

// p {
//   text-align: center;
// }

.flash_message {
  position: fixed;
  z-index: 100;
  top: 50vh;
  width: 100%;
}

.flash_container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.active {
  color: white;
  background-color: blue;
}

.page-link:first-child {
  border-radius: 20px 0px 0px 20px;
}

.page-link:last-child {
  border-radius: 0px 20px 20px 0px;
}
