.sign_in_container {
  background-color: pink;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0px;
}

.add-to-cart-btn {
  float: left;
  margin-right: 15px;
}

.product-title {
  font-size: 2em;
}

.product-image {
  width: 100%;
}

.card {
  border-radius: 0 !important;
  border-left: none !important;
  border-right: none !important;
}
